@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
::selection {
  background: #dc2626;
  color: white;
}

html {
  scroll-behavior: smooth;
}
* {
  border-radius: 0 !important;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}